body {
    background-color: black;
}





.wrap1 {
    
    background-color: black;
    width: 400px;
    height: 250px;
    margin: auto;
    margin-top: 70px;
    border-radius: 3px; 
    border:1px solid white
}

.title {
   
    color: white;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.input-group {

    margin-top: 100px;

   padding-left: 105px;
}

.form-control {

    height: 22px;

}

.btn2 {
    height: 30px;
    
}


.wrap2 {
    display: flex;
    flex-wrap: wrap;   
    gap: 20px;
    align-items: center;
    justify-content: center;
}







.btns{     
    
      }

.btns>button {
    background-color: transparent;
    height: 40px;
    color: aliceblue;
    border: 2px #ffffff

}


.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
  }
  
  .card {
    background-color: #333;
    color: white;
    border-radius: 10px;
    overflow: hidden; 
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover; 
  }
  
  .card h2, .card p {
    margin: 10px;
  }
  
  .card p {
    color: #ccc;
  }