.wrap1 {
    
    background-color: black;
    width: 400px;
    height: 250px;
    margin: auto;
    margin-top: 70px;
    border-radius: 3px; 
}

.title {
   
    color: white;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.input-group {

    margin-top: 100px;

   padding-left: 105px;
}

.form-control {

    height: 22px;

}

.btn2 {
    height: 30px;
    
}


.wrap2 {
    display: flex;
    flex-wrap: wrap;   
    gap: 20px;
    align-items: center;
    justify-content: center;
}







.btns{     
    
      }

.btns>button {
    height: 40px;
    
    border: 2px black

}


.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: row;
    gap: 20px;
    margin: 200px
    
}
.card {
    width: 350px;
    height: 700px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 30px;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}


